.fancyList {
    $h: 28px;
    $angle: 10px;
    @include clearfix;

    li {
        $indent: 4px;
        float: left;
        padding: 1px;
        margin: 0 $indent 0 (-$indent);

        span,
        a {
            position: relative;
            display: inline-block;
            padding: 0 8px;
            height: $h;
            line-height: $h +2;
            text-decoration: none;
            font-size: $smallFontSize;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: ($h/2);
        }

        @include fancyListColors(a, $invertedColor, $brandPrimary, $brandDarkenPrimary);
        @include fancyListColors(span);
    }

    $lineSpace: 5px;
    dt,
    dd {
        display: block;
        padding-bottom: 4px;
    }

    dt {
        padding-top: 8px;
        width: 70%;
        float: right;
        clear: both;
        padding-left: $lineSpace;
    }

    dd {
        float: left;
        width: 30%;
        padding-top: 6px;
        padding-right: $lineSpace;
        border-right: 1px solid $brandLightBorder;
        @include thinFont;
        line-height: 24px;
        font-size: 32px;
        text-align: right;
        margin-bottom: 20px;
        color: $brandLightColor;

        span {
            font-family: $defaultFontFamily;
            font-size: $defaultFontSize;
            display: block;
            line-height: 20px;
        }
    }
}