.fancyList {
    $h: 28px;
    $angle: 10px;
    @include clearfix;

    li {
        float: left;
        padding: 1px;
    }
/*
    span,
    a {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        margin: 0 $angle;
        height: $h;
        line-height: $h +2;
        text-decoration: none;
        font-size: $smallFontSize;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:before,
        &:after {
            content: '';
            border: 0 solid;
            @include square(0);
            display: block;
            @include position(absolute, 0 null 0 null);
        }

        &:before {
            border-width: $h $angle 0 0;
            left: -$angle;
        }

        &:after {
            border-width: 0 0 $h $angle;
            right: -$angle;
        }
    }
*/
    span,
    a {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        height: $h;
        line-height: $h +2;
        text-decoration: none;
        font-size: $smallFontSize;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: ($h/2);
    }

    @include fancyListColors(a, $invertedColor, $brandPrimary, $brandDarkenPrimary);
    @include fancyListColors(span);
}