.parallax {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #00b3ee;

    &.fixed,
    &.scroll {
        > img {
            @include position(absolute, 0 0 null 0);
            z-index: 1;
            width: 100%;
        }
    }

    &.scroll {
        position: relative;

        > img {

        }
    }
}
