.parallaxImageContainer {
    @include position(fixed, 0 0 0 0);
    z-index: 1;

    img {
        width: 100%;
        min-width: 1200px;
        //display: none;

        &:first-child {
            display: block;
        }
    }
}

.parallaxOverlay {
    background-color: $bodyBackground;
}
