//
// Colors
// --------------------------------------------------
$cntBg: #fff;
$bodyBackground: #eaeaea;
$headerBackground: $cntBg;

$brandDefaultColor: #444;
$mainNavColor: #616161;
$brandPrimary: #cc00ff;
$invertedColor: #fff;

$mainNavHeight: 60px;
$logoHeight: 120px;
$headerHeight: $mainNavHeight + (($logoHeight - $mainNavHeight) / 2);

$footerHeight: 40px;

//
// Fonts
// --------------------------------------------------
$defaultFontFamily: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$thinFontFamily: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$smallFontSize: 10px;
$mediumFontSize: 12px;
$defaultFontSize: 14px;
$largeFontSize: 16px;
$h1FontSize: 26px;
$h2FontSize: 20px;
$h3FontSize: 16px;

//
// Global Spaces and Sizes
// --------------------------------------------------
$contentMaxWidth: 1400px;

$contentBottomSpace: 40px;

//
// Sizes for media queries
// --------------------------------------------------
