//
// Colors
// --------------------------------------------------
$bodyBackground: #eaeaea;


//
// Fonts
// --------------------------------------------------
$smallFontSize: 10px;
$mediumFontSize: 12px;
$defaultFontSize: 14px;
$largeFontSize: 16px;
$h1FontSize: 26px;
$h2FontSize: 20px;
$h3FontSize: 16px;

//
// Global Spaces and Sizes
// --------------------------------------------------


//
// Sizes for media queries
// --------------------------------------------------
