.recipePage {
    $colSpace: 80px;

    header {
        h1 {
            @include position(absolute, 40% null null null);
            z-index: 5;
            height: 50%;
            color: $invertedColor;
            @include textShadow(rgba(0,0,0, .2) );
        }
    }

    .shortFacts {
        @include position(absolute, null 0 2px 0);
        z-index: 5;
    }

    .desc {
        $lineH: 26px;
        display: block;
        padding: $contentBottomSpace 0 $contentBottomSpace;
        background-color: $bodyBackground;
        font-family: $thinFontFamily;
        font-weight: 300;
        line-height: $lineH;
        font-size: 16px;

        &:first-letter {
            font-size: ($lineH * 3) + 10;
            line-height: ($lineH * 3);
            margin-right: 8px;
            color: $brandPrimary;
            float: left;
        }
    }

    aside {
        padding-top: $contentBottomSpace;

        ul {
            margin-bottom: $contentBottomSpace;
        }
    }

    .ingredients {
        li {
            > * {
                &:first-child {
                    font-weight: bold;
                    color: $brandLightColor;
                }
            }
        }
    }
}

.related {
    padding: $contentBottomSpace 0;
}