.clearfix {
    @include clearfix;
}

.pushRight {
    float: right;
}

.pushLeft {
  float: left;
}

.contentBottomSpace {
    margin-bottom: $contentBottomSpace;
}

.container {
    max-width: $contentMaxWidth;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-left: $columnLargeSingleSpacing;
    padding-right: $columnLargeSingleSpacing;

    &.full {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    &.smallSpace {
        padding-left: $smallSpacing;
        padding-right: $smallSpacing;
    }
}

// Row + Columns
//
// Common styles for small and large grid columns

.row {
    margin-left: -$columnSingleSpacing;
    margin-right: -$columnSingleSpacing;
    @include clearfix;

    > * {
        position: relative;
        min-height: 1px;
        padding-left: $columnSingleSpacing;
        padding-right: $columnSingleSpacing;
    }

    &.noSpace {
        margin-left: 0;
        margin-right: 0;
        > * {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.largeSpace {
        margin-left: -$columnLargeSingleSpacing;
        margin-right: -$columnLargeSingleSpacing;
        > * {
            padding-left: $columnLargeSingleSpacing;
            padding-right: $columnLargeSingleSpacing;
        }
    }

    &.smallSpace {
        margin-left: -$smallSpacing;
        margin-right: -$smallSpacing;
        > * {
            padding-left: $smallSpacing;
            padding-right: $smallSpacing;
        }
    }

    &.rowSpace {
        margin-top: -$columnSingleSpacing;
        margin-bottom: -$columnSingleSpacing;

        > * {
            padding-top: $columnSingleSpacing;
            padding-bottom: $columnSingleSpacing;
        }

        &.largeSpace {
            margin-top: -$columnSpacing;
            margin-bottom: -$columnSpacing;
            > * {
                padding-top: $columnSpacing;
                padding-bottom: $columnSpacing;
            }
        }

        &.smallSpace {
            $spacing: 2px;
            margin-top: -$spacing;
            margin-bottom: -$spacing;
            > * {
                padding-top: $spacing;
                padding-bottom: $spacing;
            }
        }
    }
}

@include make-grid(xl);

.col-xl-5cols {
    width: 20%;
    float: left;
}

.mobileView {
    @include make-grid(xs);
    .col-xs-5cols {
        width: 20%;
    }

    @media (min-width: $phoneLandscapeWidth) {
        @include make-grid(s);

        .col-s-5cols {
            width: 20%;
        }
    }

    @media (min-width: $tabletPortraitWidth) {
        @include make-grid(m);

        .col-m-5cols {
            width: 20%;
        }
    }

    @media (min-width: $tabletLandscapeWidth) {
        @include make-grid(l);

        .col-l-5cols {
            width: 20%;
        }
    }

    .col-xs-5cols,
    .col-s-5cols,
    .col-m-5cols,
    .col-l-5cols {
        float: left;
    }
}