.mainNav {
    $contentBorderColor: rgba(0,0,0, 0.2);
    width: 100%;
    height: $mainNavHeight;
    background-color: $headerBackground;
    font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid $contentBorderColor;

    * {
        display: block;
    }

    > ul {
        max-width: $contentMaxWidth;
        margin: 0 auto;
        height: $mainNavHeight;

        > li {
            float: left;

            > a {
                padding: 0 20px;
                height: $mainNavHeight;
                line-height: $mainNavHeight;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    a {
        color: $mainNavColor;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $brandPrimary;
            background-color: transparent;
        }
        &.active {
            font-weight: bold;
        }
    }



    .logo {
        $s: 120px;
        @include square($s);
        padding: 5px 5px;
        position: relative;
        text-align: center;

        &:before,
        &:after {
            content: '';
            display: block;
        }

        &:before {
            content: '';
            @include position(absolute, 0 null null 0);
            @include square($s);
            z-index: 1;
            background-color: $headerBackground;
            border: 1px solid $contentBorderColor;
            border-radius: 50%;
        }

        &:after {
            @include position(absolute, -1px null null -1px);
            width: ($s + 2);
            height: $mainNavHeight;
            z-index: 2;
            background-color: $headerBackground;
        }

        img {
            width: auto;
            height: 100%;
            position: relative;
            z-index: 5;
            margin: 0 auto;
        }
    }
}