html,
body {
    -webkit-text-size-adjust: none;
}

body {
    font-family: $defaultFontFamily;
    color: $brandDefaultColor;
    font-size: $defaultFontSize;
}

.ellipsis {
    @include ellipsis();
    * {
        display: inline-block !important;
    }
}

h1, .h1 {
    @include thinFont;
    font-size: 50px;
    line-height: 68px;
    text-transform: uppercase;

    span {
        text-transform: none;
        display: block;
        font-size: 28px;
        line-height: 32px;
    }
}

h2, .h2 {
    @include thinFont;
    font-size: 32px;
    margin-bottom: 20px;
}

h3, .h3,
h4, .h4 {
    @include thinFont;
    font-size: 20px;
    margin-bottom: 4px;
}

dl, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $brandPrimary;
    text-decoration: none;
    display: inline-block;
    padding: 1px;

    &,
    &:before,
    &:after {
        @include transition(all 300ms);
        @include transform(translate3d(0, 0, 0));
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $brandPrimary;
        color: $invertedColor;
    }
}

ul, ol {
    &.circle,
    &.disc,
    &.square,
    &.lower-alpha,
    &.decimal,
    &.decimal-leading-zero {
        margin-left: 20px;
        li {
            //margin-top: $panelSingleSpacing;
        }
    }

    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
        //margin-top: 10px;
    }

    &.circle {
        list-style: circle outside;
    }
    &.disc {
        list-style: disc outside;
    }
    &.square {
        list-style: square outside;
    }
    &.lower-alpha {
        list-style: lower-alpha outside;
    }
    &.decimal {
        list-style: decimal outside;
    }
    &.decimal-leading-zero {
        list-style: decimal-leading-zero outside;
    }
    &.lower-roman {
        list-style: lower-roman;
    }
    &.upper-roman {
        list-style: upper-roman;
    }

    &.labeled{
        display: table;

        li {
            display: table-row;

            > * {
                display: table-cell;
                padding: 4px 10px;

                &:first-child {
                    text-align: right;
                }
            }
        }
    }
}


